body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2927;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
}

.navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.navbar img {
    width: auto;
    height: 90px;
    padding: none;
    margin-top: 10px;
}

.dk {
    margin-left: 10px;
}

.en {
    margin-right: -130px;

}

/* Homepage Image */
.homepage-image {
    position: relative;
    overflow: hidden;
    z-index: 1; 
}

.homepage-image img {
    width: 100%;
    height: auto;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #2B2927;
    font-weight: 500;
    padding: 10px;
}

/* Contact Info Section */
.contact-info {
    text-align: left;
    padding: 50px;
    margin-left: 100px;
}

h2, p {
    font-size: 30px;
}

 /* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #A1AC9E;
    color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 350px; 
    height: auto;
    margin-left: 150px;
margin-top: 50px;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

.social-icons img {
    width: 90px; 
    height: auto;
    margin-right: 70px;
    margin-top: 80px;
}

nav {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

nav a {
    color: #2B2927;
    text-decoration: none;
    margin: 25px 0; /* Add margin between links */
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

/* Burger Menu Styles */
.burger-menu {
    display: none; /* Initially hide the burger menu on larger screens */
    cursor: pointer;
}

.burger-menu span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #f2f2f2;
    margin: 6px 0;
}


/* Media Query for Small Screens */
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: flex;
        
    }

    .navbar a:not(.logo) {
        display: none; /* Hide regular navigation links on small screens, excluding the logo */
    }
    .navbar img {
        width: auto;
        height: 50px;
        padding: none;
        margin-top: 10px;
        margin-left: 80px;
    }

    .en,
    .dk {
        margin: 10px 0;
    }

    .footer-logo {
        margin-top: 10px;
    }

    .homepage-image img {
        width: auto;
        height: 500px;
        margin-left: -200px;
    }

    .contact-info {
        text-align: left;
        padding: 20px;
        font-size: 15px;
    }

    .overlay-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 45px;
        color: #2B2927;
        padding: 10px;
        font-weight: 500;
        white-space: nowrap;
    }
    h2, p {
        font-size: 15px;
    }
    .contact-info {
        text-align: left;
        padding: 30px;
        margin-left: 0px;
    }
    /* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #A1AC9E;
    color: #f2f2f2;
}

.footer-logo {
    height: 50px;
    width: auto;
    display: block;
    margin: 0 auto;
}

footer nav,
    footer .social-icons {
        display: none;
}

.navbar {
        flex-direction: row; 
       
    }

.navbar a:not(.logo) {
        display: none; /* Hide regular navigation links on small screens, excluding the logo */
    }

.burger-menu {
        display: block; /* Display the burger menu on small screens */
        margin-right: 30px;
    }
}